<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <h:outputScript library="=jquery-3.3.1" name="jquery.3.3.1.js"/>
        <h:outputScript name="css/Prison.css"/>
    </h:head>
    <h:body>
        <h1>Confirm</h1>
        <ui:composition template="WEB-INF/templates/template.xhtml">
            <ui:define name="pageTitle">Prison</ui:define>
            <ui:define name="title">Choose CellBlock</ui:define>
            <ui:define name="pageContent">
                <b:row style="height:50%; margin-top: 2%">
                    <b:column col-lg="6" styleClass="text-center">
                        <b:navLink href="cellBlockA"><div style="border: 4px white solid;"><h1 style="line-height: 200px; font-size: 120px;">
                                    <h:outputText value="#{prisonController.cellBlocks.get(0).cellBlockId}"/>
                                </h1></div></b:navLink>
                    </b:column>
                    <b:column col-lg="6" styleClass="text-center">
                        <b:navLink href="cellBlockB"><div style="border: 4px white solid;"><h1 style="line-height: 200px; font-size: 120px;">
                                    <h:outputText value="#{prisonController.cellBlocks.get(1).cellBlockId}"/>
                                </h1></div></b:navLink>
                    </b:column>
                </b:row>
                <b:row style="height:50%">
                    <b:column col-lg="6" styleClass="text-center">
                        <b:navLink href="cellBlockC"><div style="border: 4px white solid;"><h1 style="line-height: 200px; font-size: 120px;">
                                    <h:outputText value="#{prisonController.cellBlocks.get(2).cellBlockId}"/>
                                </h1></div></b:navLink>
                    </b:column>
                    <b:column col-lg="6" styleClass="text-center">
                        <b:navLink href="cellBlockD"><div style="border: 4px white solid;"><h1 style="line-height: 200px; font-size: 120px;">
                                    <h:outputText value="#{prisonController.cellBlocks.get(3).cellBlockId}"/>
                                </h1></div></b:navLink>
                    </b:column>
                </b:row>
                <h:form>
                    <b:button>
                        <f:ajax event="click" onevent="#{prisonController.toggleDayGeneration()}"/>
                </b:button>
            </h:form>
        </ui:define>
    </ui:composition>
</h:body>
</html>